<div layout="column" layout-padding>
  <md-button class="md-raised" ng-click="vm.goToWeekMenu()">Назад в меню</md-button>

  <div ng-if="vm.hasData()">
    <md-input-container flex class="md-icon-float md-block">
      <label>Имя</label>
      <input ng-model="vm.customer" type="text">
    </md-input-container>

    <md-input-container flex class="md-icon-float md-block">
      <label>Этаж</label>
      <input ng-model="vm.address" type="text">
    </md-input-container>

    <div flex class="md-title">Всего к оплате: {{ vm.totalToPay() }} грн</div>

    <div flex>
      <h3 class="md-title">Оплата</h3>
      <md-list>
        <md-list-item>Занести деньги на ресепшн ИЛИ</md-list-item>
        <md-list-item>Переведите на карту: {{ vm.cardNumber }} ({{ vm.cardHolder }})</md-list-item>
      </md-list>
    </div>

    <md-divider />

    <div flex>
      <h3 class="md-title">Ваши заказы</h3>

      <l-basket-order
        ng-repeat="order in vm.ordersForReview"
        order="order"
        on-remove="vm.removeFromBasket(order)"
        on-restore="vm.restoreToBasket(order)">
      </l-basket-order>
    </div>

    <md-button class="md-raised md-primary" ng-click="vm.makeOrder()" ng-disabled="!vm.isOrdersValid()">Place order</md-button>
  </div>

  <div ng-if="vm.isEmpty()">
    В корзине пусто
  <div>
</div>

