<div class="l-basket">
  <l-basket-toolbar ng-if="!vm.isLoading()"></l-basket-toolbar>

  <div ng-if="vm.hasData()" layout="column">
    <l-user-card user="vm.user" on-changed="vm.onUserChanged(user)"></l-user-card>

    <l-payment-card orders="vm.basket.orders"></l-payment-card>

    <md-divider />

    <div flex>
      <h3 class="md-title">Ваши заказы</h3>

      <l-basket-order
        ng-repeat="order in vm.ordersForReview"
        order="order"
        on-remove="vm.removeFromBasket(order)"
        on-restore="vm.restoreToBasket(order)">
      </l-basket-order>
    </div>

    <md-button class="md-raised md-primary" ng-click="vm.makeOrder()" ng-disabled="!vm.isOrdersValid()">Оформить заказ</md-button>
  </div>

  <div ng-if="vm.isEmpty()" layout="column" layout-padding>
    В корзине пусто
  <div>
</div>

