<div class="l-basket">
  <l-basket-toolbar ng-if="!vm.isLoading()"></l-basket-toolbar>

  <div ng-if="vm.hasData()" layout="column">
    <l-user-card user="vm.user" on-changed="vm.onUserChanged(user)"></l-user-card>

    <l-payment-card orders="vm.basket.orders"></l-payment-card>

    <md-button class="md-raised md-primary" ng-click="vm.makeOrder()" ng-disabled="!vm.isOrdersValid()">Оформить заказ</md-button>

    <div class="md-headline" layout-padding>Ваши заказы</div>

    <md-card>
      <div ng-repeat="order in vm.ordersForReview">
        <l-basket-order
          order="order"
          on-remove="vm.removeFromBasket(order)"
          on-restore="vm.restoreToBasket(order)">
        </l-basket-order>

        <md-divider />
      </div>
    </md-card>

    <md-button class="md-raised md-primary" ng-click="vm.makeOrder()" ng-disabled="!vm.isOrdersValid()">Оформить заказ</md-button>
  </div>

  <div ng-if="vm.isEmpty()" layout="column" layout-padding>
    В корзине пусто
  <div>
</div>

