<div layout="row" class="l-line-item">
  <div flex="40" layout="column">
    <md-checkbox ng-model="vm.checked" aria-label="{{ vm.lineItem.product.name }}">
      {{ vm.lineItem.product.name }}
    </md-checkbox>
    <div flex class="md-caption">{{ vm.calcWeight() }}гр</span> <span class="md-caption">{{ vm.lineItem.product.ingredients.join(', ') }}</div>
  </div>
  <div flex></div>
  <div flex="30" layout="row">
    <l-quantity-selector flex ng-if="vm.checked" on-quantity-changed="vm.onQuantityChanged(quantity)"></l-quantity-selector>
    <l-size-selector flex ng-if="vm.checked" selected-size="vm.lineItem.size" on-size-selected="vm.onSizeSelected(size)"></l-size-selector>
  </div>
</div>