<md-card class="l-payment-card">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Оплата</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p>Занести деньги на ресепшн</p>
    <p>ИЛИ</p>
    <p>Переведите на карту: {{ vm.cardNumber }} ({{ vm.cardHolder }})</p>
  </md-card-content>

  <md-divider></md-divider>

  <div flex class="md-title l-total-to-pay" layout="row" layout-align="end center">
    <div>Всего к оплате: {{ vm.totalToPay() }} грн</div>
  </div>
</md-card>