<md-toolbar class="md-hue-2 md-whiteframe-4dp">
  <div class="md-toolbar-tools" layout="row">
    <div flex>Заказ на неделю</div>

    <l-switch switched="vm.isSwitched()" on-switch="vm.onMenuTypeSwitched(checked)" class="md-secondary"></l-switch>

    <md-button class="md-icon-button" ng-click="vm.goToMyOrders()">
      <md-icon aria-label="my orders">receipt</md-icon>
    </md-button>

    <md-button class="md-icon-button" ng-click="vm.goToBasket()">
      <md-icon aria-label="basket">shopping_cart</md-icon>
    </md-button>
  </div>
</md-toolbar>
