<div class="l-week-menu">
  <md-progress-linear ng-if="vm.isLoading()" md-mode="indeterminate"></md-progress-linear>

  <l-week-menu-toolbar
    ng-if="!vm.isLoading()"
    selected-menu-type="vm.selectedMenuType"
    on-menu-type-switched="vm.onMenuTypeSwitched(menuType)"
    user="vm.user"
    on-toggle-sidebar="vm.onToggleSidebar()"
    on-whole-week-order="vm.onWholeWeekOrder()"
    >
  </l-week-menu-toolbar>

  <l-sidebar user="vm.user"></l-sidebar>

  <md-fab-speed-dial
    ng-if="!vm.isLoading()"
    class="md-fab-bottom-right l-speed-dial"
    ng-show="vm.hasItemsInBasket()"
    ng-click="vm.goToBasket()">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn">
        <md-icon>shopping_cart</md-icon>
      </md-button>
    </md-fab-trigger>
  </md-fab-speed-dial>

  <div ng-if="!vm.isLoading()" layout="column">

    <md-tabs md-dynamic-height md-border-bottom md-swipe-content md-selected="vm.selectedWeek">

      <!-- CURRENT WEEK TAB -->
      <md-tab label="Текущая">
        <div flex layout="column" layout-align="center center">
          <md-button ng-show="vm.needToShowPastDaysSwitcher()" class="md-raise" ng-click="vm.togglePastDaysMenu()">
            {{ vm.isPastDaysMenuHidden() ? 'Показать прошедшие дни' : 'Спрятать прошедшие дни' }}
          </md-button>
        </div>

        <div
          ng-show="vm.needToShowCurrentWeekOrderImpossible()"
          class="md-mody-2"
          layout="row"
          layout-padding
          layout-align="center center"
          md-colors="{color: 'red'}">
          Заказ на текущую неделю уже не возможен.
        </div>

        <div
          ng-show="vm.needToShowNoData()"
          class="md-mody-2"
          layout="row"
          layout-padding
          layout-align="center center"
          md-colors="{color: 'red'}">
          На выбранную неделю меню еще не сформировано.
        </div>

        <!-- CURRENT WEEK VIEW -->
        <l-view-menu
          ng-show="vm.needToShowCurrentWeekViewMenu()"
          ng-repeat="menu in vm.pastDaysMenu[vm.selectedMenuType]"
          menu="menu"
          flex>
        </l-view-menu>

        <!-- CURRENT WEEK ORDER -->
        <l-menu
          ng-repeat="menu in vm.actualMenu[vm.selectedMenuType]"
          menu="menu"
          on-order-placed="vm.onOrderPlaced(order)"
          flex>
        </l-menu>

      </md-tab>

      <!-- NEXT WEEK TAB -->
      <md-tab label="Следующая">
        <!-- NEXT WEEK ORDER -->
        <l-menu
          flex
          ng-repeat="menu in vm.nextWeekMenu[vm.selectedMenuType]"
          menu="menu"
          on-order-placed="vm.onOrderPlaced(order)">
        </l-menu>

      </md-tab>
    </md-tabs>
  </div>
</div>
