<div class="l-week-menu">
  <md-progress-linear ng-if="vm.isLoading()" md-mode="indeterminate"></md-progress-linear>
  <l-toolbar ng-if="!vm.isLoading()">
    <l-toolbar-at-right>
      <md-button class="md-icon-button" ng-click="vm.goToMyOrders()" ng-if="vm.user">
        <md-icon aria-label="my orders">receipt</md-icon>
      </md-button>

      <md-button class="md-icon-button" ng-click="vm.goToBasket()">
        <md-icon aria-label="basket">shopping_cart</md-icon>
      </md-button>
    </l-toolbar-at-right>
  </l-toolbar>

  <div ng-if="!vm.isLoading()" layout="column" layout-padding>

    <l-week-switcher
      selected="vm.selectedWeek"
      on-changed="vm.onWeekChanged(week)">
    </l-week-switcher>

    <md-button ng-show="vm.needToShowPastDaysSwitcher()" class="md-raise" ng-click="vm.togglePastDaysMenu()">
      {{ vm.isPastDaysMenuHidden() ? 'Показать меню на прошедшие дни' : 'Спрятать меню на прошедшие дни' }}
    </md-button>

    <span class="md-title" ng-show="vm.needToShowCurrentWeekOrderImpossible()">
      Заказ на текущую неделю уже не возможен.
      <md-button class="md-raised" ng-click="vm.selectNextWeek()">Посмотреть следующую</md-button>
    </span>

    <span class="md-title" ng-show="vm.needToShowNoData()">
      На выбранную неделю меню еще не сформировано.
    </span>

    <!-- CURRENT WEEK VIEW -->
    <l-view-menu
      ng-show="vm.needToShowCurrentWeekViewMenu()"
      ng-repeat="menu in vm.pastDaysMenu"
      menu="menu"
      flex>
    </l-view-menu>

    <!-- CURRENT WEEK ORDER -->
    <l-menu
      ng-show="vm.needToShowCurrentWeekOrderMenu()"
      ng-repeat="menu in vm.actualMenu"
      menu="menu"
      on-order-placed="vm.onOrderPlaced(order)"
      flex>
    </l-menu>

    <!-- NEXT WEEK ORDER -->
    <l-menu
      flex
      ng-show="vm.needToShowNextWeek()"
      ng-repeat="menu in vm.nextWeekMenu"
      menu="menu"
      on-order-placed="vm.onOrderPlaced(order)">
    </l-menu>

    <md-button class="md-raised md-warn" ng-click="vm.goToBasket()">В корзину</md-button>
  </div>
</div>
