<div class="l-basket" layout="column" layout-fill>
  <l-basket-toolbar
    ng-if="!vm.isLoading()"
    on-toggle-sidebar="vm.onToggleSidebar()"
    user="vm.user">
  </l-basket-toolbar>

  <l-sidebar user="vm.user"></l-sidebar>

  <md-content ng-if="vm.hasData()">
    <l-user-card user="vm.user" on-changed="vm.onUserChanged(user)"></l-user-card>

    <div
      ng-if="vm.ordersForReview.length > 1"
      class="md-headline"
      layout="row"
      layout-padding
      layout-align="end center">
      Всего к оплате: {{ vm.totalToPay() }} грн
    </div>

    <div layout="column">
      <md-button
        ng-if="vm.ordersForReview.length > 1"
        class="md-raised md-primary"
        ng-click="vm.makeOrder()"
        ng-disabled="!vm.isOrdersValid()">
        Оформить заказ
      </md-button>
    </div>

    <div class="md-headline" layout-padding>
      <span ng-if="vm.ordersForReview.length > 1">Ваши заказы</span>
      <span ng-if="vm.ordersForReview.length == 1">Ваш заказ</span>
    </div>

    <md-card>
      <div ng-repeat="order in vm.ordersForReview">
        <l-basket-order
          order="order"
          on-remove="vm.removeFromBasket(order)"
          on-restore="vm.restoreToBasket(order)">
        </l-basket-order>

        <md-divider></md-divider>
      </div>
    </md-card>

    <div class="md-headline" layout="row" layout-padding layout-align="end center">Всего к оплате: {{ vm.totalToPay() }} грн</div>

    <div layout="column">
      <md-button
        class="md-raised md-primary"
        ng-click="vm.makeOrder()"
        ng-disabled="!vm.isOrdersValid()">
        Оформить заказ
      </md-button>
    </div>
  </md-content>

  <div ng-if="vm.isEmpty()" layout="column" layout-padding>
    В корзине пусто
  <div>
</div>

