<div layout="column" class="l-view-order" >
  <h2 flex class="md-headline title">{{ vm.order.shipmentDate | lDate }}</h2>

  <div ng-if="vm.isExist()">

    <div class="line-items" flex>
      <div ng-repeat="item in vm.order.items" flex="100">
        <div class="md-subhead">{{ item.product.name }}</div>
        <div flex class="md-caption">{{ item.product.ingredients.join(', ') }}</div>
      </div>
    </div>

    <l-payment-status paid="vm.order.paid"></l-payment-status>

    <md-button class="md-raised" ng-click="vm.onCancel()" ng-if="vm.needToShowCancelButton()">Отменить</md-button>
    <md-button class="md-raised" ng-click="vm.onEditOrder()" ng-if="vm.needToShowEditButton()">Редактировать</md-button>
    <span class="md-headline price-label">{{ vm.calcPrice() }} грн</span>
  </div>

  <div ng-if="vm.isCanceled()" layout="row" layout-align="center center">
    <div class="md-body1">Вы отменили этот заказ.
      <md-button class="md-raised" ng-click="vm.onNewOrder()">Сделать другой заказ</md-button>
      <md-button class="md-raised md-primary" ng-click="vm.onRestore()">Вернуть обратно</md-button>
    </div>
  </div>

  <md-divider />
</div>

