<md-card class="l-view-menu">
  <div layout="column" layout-gt-xs="row">
    <l-menu-cover [url]="vm.getCoverOf(vm.menu)" flex-gt-xs="50" flex-order-gt-xs="2"></l-menu-cover>

    <div flex-order-gt-xs="1" flex-gt-xs="50">

      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ vm.menu.date | lDate }}</span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <md-list>
          <md-list-item ng-repeat="product in vm.menu.products track by product.id">
            <img
              ng-src="{{ ::vm.productTypeToIconUrl(product.type) }}"
              alt="meat"
              class="material-icons l-png-icon"
            />
            <p>{{ product.name }}</p>
          </md-list-item>
        </md-list>

        <l-flash-message>
          Обед заказать уже нельзя
        </l-flash-message>

      </md-card-content>
    </div>
  </div>
</md-card>

