<div layout="row" class="l-view-menu" layout-align="center center">
  <md-card flex-gt-sm="50">
    <l-menu-cover menu="vm.menu"></l-menu-cover>

    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ vm.menu.date | lDate }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <span ng-repeat="product in vm.menu.products track by product.id">
        {{ product.name }}.
      </span>
    </md-card-content>

    <md-divider></md-divider>

    <div
      layout="row"
      layout-padding
      layout-align="center center"
      class="md-mody-2"
      md-colors="{color: 'red'}">
      <div class="md-body1">Обед заказать уже нельзя.</div>
    </div>

  </md-card>
</div>

