<div class="product">
  <div class="title">
    <span class="checkbox"><input type="checkbox" ng-model="vm.checked" ng-change="vm.onToggle()"></span>
    <span class="text">{{ vm.product.name }}</span>
  </div>
  <div class="details">
    <span class="weight" ng-if="vm.checked">{{ vm.product.weight }} гр</span> <span class="ingredients">{{ vm.product.ingredients.join(', ') }}</span>
  </div>
  <div class="size">
    <l-size-selector ng-if="vm.checked" selected-size="vm.selectedSize" on-size-selected="vm.onSizeSelected(size)"/>
  </div>
</div>