<div class="l-my-orders">
  <md-progress-linear ng-if="vm.isLoading()" md-mode="indeterminate"></md-progress-linear>

  <l-my-orders-toolbar
    ng-if="!vm.isLoading()"
    user="vm.user"
    on-toggle-sidebar="vm.onToggleSidebar()"
  >
  </l-my-orders-toolbar>

  <l-sidebar user="vm.user"></l-sidebar>

  <div ng-if="!vm.isLoading()" layout="column">
    <div ng-if="vm.hasData()">

      <l-date-range-selector
        range="vm.selectedDateRange"
        on-changed="vm.onDateRangeChanged(dateRange)">
      </l-date-range-selector>

      <l-my-orders-item
        ng-repeat="order in vm.orders"
        order="order"
        on-change="vm.onItemChange(order, oldOrder)"
        on-new-order="vm.onNewOrder()"
        on-pay="vm.onPay(order)"
        >
      </l-my-orders-item>
    </div>

    <div ng-if="vm.isEmpty()" layout-padding>
      Нет заказов за выбранный период времени
    <div>
  </div>
</div>
