<div class="l-my-orders">
  <md-progress-linear ng-if="vm.isLoading()" md-mode="indeterminate"></md-progress-linear>

  <l-my-orders-toolbar ng-if="!vm.isLoading()"></l-my-orders-toolbar>

  <div ng-if="!vm.isLoading()" layout="column" layout-padding>
    <div ng-if="vm.hasData()">
      <h3 class="md-title">Ваши заказы</h3>

      <l-date-range-selector
        range="vm.selectedDateRange"
        on-changed="vm.onDateRangeChanged(dateRange)">
      </l-date-range-selector>

      <l-my-orders-item
        ng-repeat="order in vm.orders"
        order="order"
        on-change="vm.onItemChange(order, oldOrder)"
        on-new-order="vm.onNewOrder()">
      </l-my-orders-item>
    </div>

    <div ng-if="vm.isEmpty()">
      Нет заказов за выбранный период времени
    <div>
  </div>
</div>
