@import './app/components/payment-status/payment-status';
@import './app/components/size-label/size-label';

/* todo: move styles to <l-quantity-selector>: DEZ-766 */
.l-quantity-selector-component {
  .quantity-label {
    margin: 8px 0;
  }
}

/* todo: move styles to <l-menu>: DEZ-767 */
.l-menu {
  .price-label {
    margin: 6px 8px;
  }

  .l-menu-size {
    padding: 16px;
  }
}

/* todo: move styles to <l-selector>: DEZ-768 */
.l-selector {
  margin-top: 0px;
}

// todo: figure out nice solution for png icons
md-list-item .l-png-icon {
  margin-right: 32px;
}

md-list-item._md-no-proxy.l-no-list-item-padding {
  padding-left: 0px;
  padding-right: 0px;
}

// todo: figure out nice solution for png icons
// it doesnt work, but required according to material design spec
.l-png-icon {
  color: rgba(0,0,0,0.54);
  width: 24px;
}

.l-total-to-pay {
  padding: 16px;
}

.l-basket-order-footer {
  padding: 16px;
}

.l-basket-order-price-label {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
}

.l-basket-order md-card-content {
  padding-bottom: 0px;
}

.l-user-card md-card-content {
  padding-bottom: 0px;
}

.l-green {
  color: green;
}

.l-red {
  color: red;
}

.l-week-menu .l-speed-dial {
  position: fixed;
}

.l-my-orders-item {
  .l-price-label {
    padding: 0px 6px;
    margin: 6px 8px;
  }
}