@import './app/components/payment-status/payment-status';

/* todo: move styles to <l-quantity-selector>: DEZ-766 */
.l-quantity-selector-component {
  .quantity-label {
    margin: 8px 0;
  }
}

/* todo: move styles to <l-menu>: DEZ-767 */
.l-menu {
  .price-label {
    margin: 6px 8px;
  }

  .l-menu-size {
    padding: 16px;
  }
}

/* todo: move styles to <l-selector>: DEZ-768 */
.l-selector {
  margin-top: 0px;
}

// todo: figure out nice solution for png icons
md-list-item ._md-list-item-inner > .l-png-icon:first-child:not(.md-avatar-icon) {
  margin-right: 32px;
}

// todo: figure out nice solution for png icons
// it doesnt work, but required according to material design spec
.l-png-icon {
  color: rgba(0,0,0,0.54);
  width: 24px;
}