/* todo: move styles to <l-quantity-selector>: DEZ-766 */
.l-quantity-selector-component {
  .quantity-label {
    margin: 8px 0;
  }
}

/* todo: move styles to <l-menu>: DEZ-767 */
.l-menu {
  .price-label {
    margin: 6px 8px;
  }
}

/* todo: move styles to <l-selector>: DEZ-768 */
.l-selector {
  margin-top: 0px;
}
