<div layout="column" class="l-menu" >
  <md-card>

    <md-card-header>
      <md-card-header-text>
        <span class="md-title">{{ vm.menu.date | lDate }}</span>
        <span class="md-subhead">Запись заканчивается {{ vm.timeBeforeOrderImpossible() }}</span>
      </md-card-header-text>
    </md-card-header>

    <l-menu-cover menu="vm.menu"></l-menu-cover>

    <md-card-content>
      <md-list>
        <md-list-item ng-repeat="lineItem in vm.lineItemsAvailable track by lineItem.product.id">
          <img ng-src="{{ ::vm.productTypeToIconUrl(lineItem.product.type) }}" alt="meat" class="material-icons l-png-icon" />
          <l-switch ng-if="vm.isCustomLunch()" on-switch="vm.onLineItemToggled(lineItem, checked)" class="md-secondary"></l-switch>
          <p>{{ lineItem.product.name }}</p>
        </md-list-item>
      </md-list>
    </md-card-content>

    <md-divider />

    <md-radio-group ng-if="!vm.isLineItemsAddedToOrder()" ng-model="vm.size" layout="row" class="l-menu-size">
      <md-radio-button value="medium" class="md-primary">Средний</md-radio-button>
      <md-radio-button value="big">Большой</md-radio-button>
    </md-radio-group>

    <md-divider />

    <div ng-if="vm.isLineItemsAddedToOrder()" layout="row" layout-align="center center">
      <div class="md-body1">Обед добавлен в корзину.
        <md-button class="md-raised" ng-click="vm.orderAgain()">Заказать еще</md-button>
      </div>
    </div>

    <md-card-actions layout="row" layout-align="start center" ng-if="!vm.isLineItemsAddedToOrder()">
      <md-button class="md-raised md-primary order-button" ng-click="vm.addToOrder()" ng-disabled="!vm.price">{{ vm.orderButtonText() }}</md-button>
      <md-button class="md-raised" ng-click="vm.onCustomizeLunch()">{{ vm.customizeLunchButtonText() }}</md-button>
      <span ng-if="vm.price" class="md-title price-label">{{ vm.price }} грн</span>
    </md-card-actions>

  </md-card>
</div>
