<div layout="column" class="l-menu" >
  <h2 flex class="md-headline title">{{ vm.menu.date | lDate }}</h2>

  <div class="products" ng-if="!vm.isLineItemsAddedToBasket()" flex>
    <l-line-item ng-repeat="item in vm.orderForm.items" line-item="item" on-changed="vm.onItemChanged(item)" />
  </div>
  <div class="order-button" ng-if="!vm.isLineItemsAddedToBasket()" flex layout="row">
    <md-button class="md-raised md-primary order-button" ng-click="vm.addToOrder()" ng-disabled="!vm.price">Добавить в корзину</md-button>
    <span ng-if="vm.price" class="md-headline price-label">{{ vm.price }} грн</span>
    <span ng-if="!vm.price" class="md-headline price-label">Please choose any dishes in the list above</span>
  </div>

  <div ng-if="vm.isLineItemsAddedToBasket()" layout="row" layout-align="center center">
    <div class="md-body1">Line items were added to basket. Want more? <md-button class="md-raised" ng-click="vm.orderAgain()">Order again</md-button></div>
  </div>

  <md-divider />
</div>

