<md-card class="l-my-orders-item">

  <md-card-header>
    <md-card-header-text class="md-title">
      {{ vm.order.shipmentDate | lDate }}
    </md-card-header-text>
  </md-card-header>

  <div layout="column" layout-gt-xs="row">
    <l-menu-cover [url]="vm.coverUrl()" flex-gt-xs="50" flex-order-gt-xs="2"></l-menu-cover>

    <md-card-content flex-order-gt-xs="1" flex-gt-xs="50">
      <md-list>
        <md-list-item ng-repeat="lineItem in vm.order.items track by lineItem.product.id" class="l-no-left-padding">
          <img ng-src="{{ ::vm.productTypeToIconUrl(lineItem.product.type) }}" alt="meat" class="material-icons l-png-icon" />
          <p>{{ lineItem.product.name }}</p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </div>

  <md-divider></md-divider>

  <div layout="row">
    <l-size-label size="vm.order.items[0].size"></l-size-label>
    <l-payment-status paid="vm.order.paid" ng-click="vm.onPay()"></l-payment-status>
    <span flex></span>
    <span class="md-subhead l-price-label" layout="row" layout-align="center center">{{ vm.order.price }} грн</span>
  </div>

  <md-divider></md-divider>

  <md-card-actions layout="row" layout-align="start center" ng-if="vm.isExist()">
    <md-button ng-click="vm.onCancel()" ng-disabled="!vm.isCancelAllowed()">Отменить</md-button>
    <span class="md-body-1" ng-if="!vm.isCancelAllowed()">Заказ отменить уже нельзя</span>
  </md-card-actions>

  <md-card-actions layout="row" layout-align="start center" ng-if="vm.isCanceled()">
    <span class="md-body-1 l-green">Заказ отменен</span>
    <span flex></span>
    <md-button class="md-primary" ng-click="vm.onNewOrder()">Новый</md-button>
  </md-card-actions>

</md-card>
